$primary: #25408f;
$secondary: #8f5325;
$success: #00e07b;
$info: #51d0f3;
$warning: #eeca5f;
$danger: #d62518;
$light: #f8f9fa;
$dark: #181818;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
);